<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
	see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
	<!--This context param setting allow websocket to tarnsfer large data over socket. Here
		we have set this value to 10 Mb data size
	-->
	<context-param>
		<param-name>org.apache.tomcat.websocket.textBufferSize</param-name>
		<param-value>10000000</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.tomcat.websocket.binaryBufferSize</param-name>
		<param-value>10000000</param-value>
	</context-param>
	
	<!-- Implemented @WebListener annotation -->
	 <!-- listener> 
	 	<listener-class> com.hpl.hp.com.servlets.TVGServletContextListener </listener-class> 
	 </listener -->
	<servlet>
		<servlet-name>tvg.hpl.hp.com.StartBfsService</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>io.swagger.jaxrs.listing,tvg.hpl.hp.com.ws</param-value>
		</init-param>
		<init-param>
            <param-name>jersey.config.server.provider.classnames</param-name>
            <param-value>
                io.swagger.jaxrs.listing.ApiListingResource,
                io.swagger.jaxrs.listing.ApiDeclarationProvider, 
                io.swagger.jaxrs.listing.SwaggerSerializers               
            </param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
        <servlet-name>Jersey2Config</servlet-name>
        <servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
        <init-param>
            <param-name>api.version</param-name>
            <param-value>1.0.0</param-value>
        </init-param>
        <init-param>
            <param-name>swagger.api.basepath</param-name>
            <param-value>http://localhost:8080/TVGWebService/api</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
	<servlet-mapping>
		<servlet-name>tvg.hpl.hp.com.StartBfsService</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
</web-app>